body {
    font-family: Roboto, sans-serif;
}

.logo {

    &__link {
        text-decoration: none;
        font-size: 20px;
        color: #3e3eff;
    }
}

.lock {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.back-link {
    text-decoration: none;
}

.header {
    padding: 10px 0;

    p {
        margin: 0;
    }

    &__lock {
        margin-right: 5px;
    }


    &__container {
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__description {
        margin: 0;
        color: grey;
        font-size: 15px;
    }
}

.payment {
    padding: 30px 0;
   
    h1 {
        margin-bottom: 30px;
        text-align: center;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        margin: 0;
        text-align: center;
        font-weight: lighter;
    }

    &__details {
        display: flex;
        &-description {
            margin: 0;
            margin-bottom: 5px;
            font-size: 12px;
            color: grey;
        }
        &-left {
            flex-grow: 1;
        }

        &-link {
            display: inline-block;
            margin-bottom: 10px;
            color: black;
            text-decoration: none;
            font-weight: bold;
        }

        &-price {
            margin-bottom: 10px;
            display: block;
            font-size: 30px;
            font-weight: bold;
        }

        &-btn {
            border: none;
            border-radius: 10px;
            padding: 5px;
            cursor: pointer;
            outline: none;
            font-size: 15px;
            color: #6d6d6d;
            background: #f8f8ff;
        }
    }


    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        column-gap: 80px;
        max-width: 500px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 10px;
    }

    &__order {
        flex-grow: 1;
        max-width: 1000px;
    }

    &__method {
        border-radius: 10px;
        // padding: 30px;
      
        background-color: white;

        &-selected {
            display: none;

            &.selected {
                display: block;
            }
        }

        &-item {
            padding: 15px;
            border: 1px solid transparent;
            border-radius: 10px;

            &:hover {
                cursor: pointer; 
                border-color: grey;
                
            }
    
            &:focus {
                outline: none;
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
            }

            &.selected {
                border-color: grey;
                border-radius: 10px;
                background: #f8f8ff;
            }

            &-title {
                text-align: center;
            }
        }

        &-body {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        &-img {
            height: 50px;
            width: 50px;
        }

        &-title {
            margin-bottom: 15px;
        }

        &-list {
            margin-bottom: 30px;
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }

        &-qrcode {
            &-img {
                margin: 0 auto;
                width: 300px;
                height: 300px;
            }
        }
    }

    &__bottom {
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &-label {
            cursor: pointer;
        }

        &-input {
            padding: 10px;
            width: -webkit-fill-available;
        }
    }

    &__btn {
        margin-bottom: 20px;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 20px;
        color: white;
        background-color: #4ec14e;
        padding: 15px;

        .disabled {
            background: red;
        }
    }

    &__btn.disabled {
        background-color: #d6dbe0;
        color: #808d9a;
        cursor: default;
    }
}

.card {
    margin-bottom: 20px;
    position: relative;
//    height: 200px;
    // &__img {
    //     height: 30px;
    // }
    &__input {
        border: 2px solid #d6dbe0;
        border-radius: 3px;
        padding: 8px;
        outline: none;
        width: -webkit-fill-available;
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        color: #001a34;
        background-color: #fff;
    }
    &__left {
        position: relative;
        max-width: 324px;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        z-index: 20;
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    }

    &__header {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        gap: 5px;
        margin-bottom: 10px;
    }

    &__body {
        &-label {
            display: block;
            margin-bottom: 4px;
            font-size: 14px;
            color: #808d9a;
        }

        &-row:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__right {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 50%;
        // height: 77%;
        background-color: #eaedef;
        padding: 16px 20px;
        padding-right: 0;

        &-header {
            height: 40px;
            background-color: #d6dbe0
        }

        &-input {
            margin-bottom: 17px;
        }

        span {
            color: #808d9a;
            font-size: 12px;
        }

        &-body {
            padding: 16px 20px;
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: end;
          
            // display: flex;
            // flex-direction: column;
            // align-items: end;
        }
    }
    

    
}

.modal-backdrop {
    --bs-backdrop-zindex: 200;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity);
}

.basket {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    background: white;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    outline: 0;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__close {
        border: none;
        outline: none;
        cursor: pointer;
        background: inherit;     
    }

    &__title {
        font-size: 20px;
    }

    &__list {
        padding: 0;
        list-style-type: none;

        &-item:last-child {
            text-align: end;
        }
    
        &-item:not(:last-child) {
            border-bottom: 1px solid grey;
        }
    }
}
